.Container {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 1200px) {
    .Container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .Container {
        max-width: 750px;
        text-align: center;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .Container {
        max-width: none;
    }
}

.App {

}


