.Container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .Container {
      max-width: 970px;
  }
}
@media (max-width: 992px) {
  .Container {
      max-width: 750px;
  }
}
@media (max-width: 767px) {
  .Container {
      max-width: none;
  }
}
.App {

}


